
// COLORS
$color-primary:#7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;
$color-gray-dark: #777;
$color-gray-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;


// GRID
$grid-width: 114rem; // 1140px
$gutter-vertical: 8rem;// 80px
$gutter-horizontal: 6rem; // 60px

// DEFAULT FONT-SIZE
$defualt-font-size: 1.6rem // 16px